.prose {
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose {
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity));
  }
}

.prose blockquote {
  border-left-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {

  .prose blockquote {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity));
  }
}

@media (min-width: 768px) {

  .prose figure {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.prose img {
  width: 100%;
  border-radius: 0.375rem;
}

.prose a {
  overflow-wrap: break-word;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.prose a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (prefers-color-scheme: dark) {

  .prose a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
}

.prose a code {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose a code {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
}

.prose table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(5 5 5 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose table {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(250 250 250 / var(--tw-text-opacity));
  }
}

.prose.comment table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose thead {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose thead {
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
}

.prose thead th {
  padding: 0.5rem;
  padding-left: 1rem !important;
}

.prose thead th, .prose tbody th, .prose tbody td {
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {

  .prose thead th, .prose tbody th, .prose tbody td {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
  }
}

.prose thead th,
.prose tbody th,
.prose tbody td {
  padding-left: 1rem !important;
}

.prose tbody tr {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose tbody tr {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
  }
}

.prose thead tr {
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose thead tr {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
  }
}

.prose tbody tr:nth-child(2n) {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose tbody tr:nth-child(2n) {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  }
}

.prose b, .prose strong {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose b, .prose strong {
    --tw-text-opacity: 1;
    color: rgb(212 212 212 / var(--tw-text-opacity));
  }
}

.prose hr {
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose hr {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
  }
}

/* the kg-embed-card gets applied to iframes sent from Ghost. this preserves a good video aspect ratio */

.prose .kg-embed-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding-top: 56.25%;
}

.prose .kg-embed-card iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity));
  }
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: 4rem;
}

.prose h1 a, .prose h2 a, .prose h3 a, .prose h4 a, .prose h5 a, .prose h6 a {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(5 5 5 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media (prefers-color-scheme: dark) {

  .prose h1 a, .prose h2 a, .prose h3 a, .prose h4 a, .prose h5 a, .prose h6 a {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity));
  }
}

.prose h5 {
  margin-top: 3rem;
  margin-bottom: -0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.prose pre > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.prose pre {
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
  background-color: rgb(163 163 163 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.05;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose pre {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
}

.prose.comment {
  max-width: none;
}

.prose.comment pre {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* this is needed to avoid HN comments from overflowing off the right edge of the screen */

.prose p {
  overflow-wrap: break-word;
  word-break: break-word;
}

.prose.comment p, .prose.comment ul, .prose.comment ol {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.prose.comment p:first-of-type {
  margin-top: 0 !important;
}

.prose.comment p + p {
  margin-top: 0;
}

.prose.comment pre {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.prose.comment a {
  word-break: break-all;
}

.prose p + p {
  margin-top: 0;
}

.prose code {
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose code {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity));
  }
}

.prose code, .prose pre {
  white-space: pre-wrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  word-break: break-word;
}

.prose pre > code {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(229 229 229 / var(--tw-text-opacity));
}

.prose pre {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
}

.prose sup {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {

  .prose sup {
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity));
  }
}

.prose sup {
  vertical-align: super;
  top: 0px;
  position: relative;
  scroll-margin-top: 4rem;
}
